.btn {
    @include inline-block(middle);

    background-color:#494949;
    color:#fff;
    border:none;
    font-size:15px;
    line-height:1;
    outline:none;
    padding:10px 12px;

    &:hover {
        background-color:darken(#494949, 3%);
    }
}

.btn--black {
    background:#141414;
    font-family:$impact;
    font-size:20px;
    padding:12px;

    &:hover {
        background:#000;
    }
}

.btn--buy {
    @include border-radius(50px);
}

.btn--full {
    display:block;
    width:100%;
}
