@font-face {
    font-family: 'Impact';
    src: url('fonts/impactreg.eot');
    src: url('fonts/impactreg.eot?#iefix') format('embedded-opentype'),
         url('fonts/impactreg.woff') format('woff'),
         url('fonts/impactreg.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
