.foot {
    background:#222;
    color:#a2a2a2;
    font-size:12px;
    padding:$base-spacing 0;
    text-transform:uppercase;

    a {
        color:#a2a2a2;
        display:block;

        &:hover {
            color:rgba(#a2a2a2, .8);
        }
    }

    @include media-query(desk) {
        padding:$base-spacing 0 120px;
    }
}

.foot__title {
    color:#fff;
    font-size:15px;
    font-family:$sans-serif;
    margin-bottom:($half-spacing / 2);
}

.foot__nav {
    list-style:none;
    line-height:1.8;
    margin-left:0;

    @include media-query(palm) {
        > li {
            border-bottom:1px solid #5a5a5a;
            display:block;

            > a {
                padding:$half-spacing;
            }
        }
    }

    @include media-query(desk) {
        > li {
            border-bottom:none;

            > a {
                color:#a2a2a2;
                display:block;
                padding:0;

                &:hover {
                    color:rgba(#a2a2a2, .8);
                }
            }
        }
    }
}

.foot-social {
    margin-bottom:18px;
}

.foot-social__text {
    > :last-child {
        margin-bottom:6px;
    }
}

.foot-social__nav {
    @include cf();

    list-style:none;
    margin:0;

    > li {
        float:left;
        margin-right:6px;
        margin-bottom:6px;

        > a {
            display:block;

            &:hover {
                opacity:.8;
            }
        }
    }
}

.foot-newsletter {
    >  p {
        font-size:10px;
    }
}

.foot-newsletter__body {
}


.foot-payment {
    padding-top: 24px;
}

.foot-payment__body {
    @include cf();
}

.foot-payment__flag {
    display: inline-block;
    margin-right: -0.28em;
    vertical-align: top;
    margin-right: 3px;

    &:last-child {
        margin-right: 0;
    }
}

.foot-stamp {
    padding-top: 24px;
}

.foot-stamp__body {
    @include cf();
}

.foot-stamp__flag {
    display: inline-block;
    margin-right: -0.28em;
    vertical-align: top;
    margin-right: 3px;

    &:last-child {
        margin-right: 0;
    }
}
