.home-news {
    margin-bottom:12px;
}

.home-news__head {
    margin-bottom:12px;
}

.home-news__title {
    margin-bottom:0;
}

.home-news-item {
    background-color:#000;
    color:#fff;
    display:block;
    margin-bottom:12px;
    position:relative;

    &:hover {
        .home-news-item__img {
            opacity:.6;
        }
    }

    @include media-query(desk) {
        &:hover {
            .home-news-item__body {
                display:block;
            }
        }
    }
}

.home-news-item__img {
    display:block;
    max-width:100%;
    width:100%;
}

.home-news-item__title {
    line-height:1;
    margin-bottom:12px;
}

.home-news-item__body {
    display:none;
    padding:48px 48px 24px 24px;
    position:absolute;
    left:0;
    top:0;

    > p {
        font-style:italic;
    }
}

.home-news__part {
    width:27.2%;

    @include media-query(palm) {
        width:100%;
    }
}

.home-news__last {
    width:72.8%;

    @include media-query(palm) {
        width:100%;
    }
}

.home-news-part {
    background:url(../img/news-part.png) no-repeat top right;
    color:#000;
    display:block;
    font-family:$impact;
    font-size:34px;
    line-height:1.2;
    text-transform:uppercase;
    margin-bottom:12px;

    > span {
        border-bottom:5px solid #000;
        font-size:25px;
    }

    &:hover {
        color:rgba(#000, .8);
        text-decoration:none;

        > span {
            border-color:rgba(#000, .8);
        }
    }

    @include media-query(palm) {
        height:150px;
        padding:24px 0 0 12px;
    }

    @include media-query(lap) {
        padding:100px 0 0 0;
    }

    @include media-query(desk) {
        height:320px;
        padding:175px 0 0 100px;
    }
}

.home-banner {
    background-position: center center;
    display:block;
    height:100%;
    text-align:center;
    padding: 48px 0;

    @include media-query(desk) {
        padding: 0;
    }
}

.home-banner__title {
    border-radius:3px;
    border:3px solid;
    color:#fff;
    display:inline-block;
    line-height:1;
    margin-bottom:0;
    padding:24px;

    @include media-query(desk) {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        position: relative;
        top: 50%;
    }
}

.home-appear {
    margin-bottom:24px;
}

.home-appear__img {
    display:block;
    margin-bottom:24px;
    max-width:100%;
    width:100%;
}

.home-appear-info {
    margin-bottom:24px;
    padding:0 24px;

    > p {
        font-style:italic;
    }

    > :last-child {
        margin-bottom:0;
    }

    @include media-query(desk) {
        height:185px;
    }
}

.home-appear-info__title {
    line-height:1;
}

.home-appear-info__hashtag {
    line-height:1;
}

.home-nav {
    @include cf();

    font-size:16px;
    font-family:$roboto;
    list-style:none;
    margin:0 auto 24px;
    text-transform:uppercase;
    text-align:center;

    > li {
        float:left;
        width:50%;

        > a {
            color:#5b5b5b;
            display:block;

            &:hover {
                color:#333;
            }
        }
    }

    @include media-query(desk) {
        width:80%;

        > li {
            width:25%;
        }
    }
}

.home-pre-sale {
    margin-bottom:48px;
}

.home-pre-sale--stylist {
    .home-pre-sale__title {
        top:-12px;
        left:230px;
    }
}

.home-pre-sale__head {
    position:relative;
}

.home-pre-sale__head--right {
    text-align:right;

    .home-pre-sale__title {
        left:auto;
        right:172px;
    }
}

.home-pre-sale__space {
    @include media-query(lap) {
        height:81px;
    }

    @include media-query(desk) {
        height:325px;
    }
}

.home-pre-sale__space--half {
    height:81px;

    @include media-query(palm) {
        height:0;
    }
}

.home-pre-sale__title {
    border:12px solid;
    display:inline-block;
    line-height:1;
    padding:20px;
    top:90px;
    left:172px;
    z-index:333;

    @include media-query(desk) {
        display: none;
    }
}

.home-pre-sale-item {
    margin-bottom:24px;

    @include media-query(desk) {
        margin-bottom:48px;
    }
}

.home-pre-sale-item__img {
    color:#fff;
    display:block;
    position:relative;
    margin-bottom:12px;

    > img {
        display:block;
        max-width:100%;
        width:100%;
    }

    &:hover {
        background-color:#000;

        > img {
            opacity:.6;
        }
    }

    @include media-query(desk) {
        &:hover {
            .home-pre-sale-item-info {
                display:block;
            }
        }
    }
}

.home-pre-sale-item__body {
    border-top:1px solid #000;
    padding-top:12px;

    > p {
        font-style:italic;
        margin-bottom:0;
    }
}

.home-pre-sale-item__title {
    font-size:25px;
    line-height:1;
    margin-bottom:6px;

    > a {
        color:#000;

        &:hover {
            color:rgba(#000, .8);
        }
    }
}

.home-pre-sale-item-info {
    display:none;
    height:100%;
    font-size:13px;
    padding:12px;
    position:absolute;
    left:0;
    top:0;
    width:100%;
}

.home-pre-sale-item-info__head {
    font-size:26px;
    font-family:$impact;
    line-height:1;
    text-align:right;
    margin-bottom:48px;
}

.home-pre-sale-item-info__title {
    font-size:28px;
    line-height:1;
    text-transform:none;
    margin-bottom:6px;

    > span {
        font-size:18px;
    }
}

.home-pre-sale-item-info__body {
}

.home-pre-sale-item-info__foot {
    padding:0 12px 12px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.home-pre-sale__foot {
}

.home-pre-sale__foot--right {
    text-align:right;

    @include media-query(desk) {
        .home-pre-sale__more {
            margin-right:190px;
        }
    }
}

.home-pre-sale__more {
    margin-bottom:0;

    > a {
        border-bottom:12px solid;
        color:#000;
        font-family:$impact;
        display:inline-block;
        padding-right:24px;

        &:hover {
            color:rgba(#000, .8);
            text-decoration:none;
        }
    }
}

.home-pre-sale-item--large {
    .home-pre-sale-item-info {
        padding:24px;
    }

    .home-pre-sale-item-info__foot {
        padding:0 24px 24px;
    }

    @include media-query(desk) {
        .home-pre-sale-item__title {
            font-size:34px;
        }
    }
}
