.logo {
    display:block;
    float:left;
    margin-top:5px;

    @include media-query(desk) {
        margin-top:16px;
    }
}

.logo-blog {
    display:block;
    margin-bottom:12px;

    @include media-query(desk) {
        margin-bottom:0;
    }
}
